main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "map-controls"
        "map-area";
    padding: 0.5rem;

    overflow: hidden;
}

.map-controls {
    grid-area: map-controls;
    display: flex;
    justify-content: right;
    border-bottom: 1px solid var(--gray);
    padding: 0.5rem;
}

.map-controls a {
    aspect-ratio: 1/1;
    margin: 0.25rem;
    transition: 0.25s;
}

.map-controls a:hover {
    background-color: var(--gray);
    border-radius: 50%;
    transform: scale(1.1);
}

.map-controls svg {
    height: 100%;
    color: var(--primaryColor);
    transition: 0.5s;
}

/* 
Map
*/

.map-area {
    grid-area: map-area;
    overflow: auto;
}

#map {
    height: 100%;
}