/* All containers */

.info_container {
    position: relative;
}

.info_container h2 {
    color: var(--white);
    margin: 0 0 0.25rem 0;
}

.info_container p {
    margin: 0;
}

.info_container-actions {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    height: fit-content;
    width: fit-content;
}

.info_container-actions a {
    color: #888;
    margin-left: 0.25rem;
    display: inline-block;
    transition: color 0.2s;
}

.info_container-actions a:hover {
    color: var(--primaryColor);
}

.info_container-actions a svg {
    height: 1.5rem;
    width: 1.5rem;
}

.info-title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primaryColor);
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

.info-table {
    border-collapse: collapse;
}

.info-table tr:not(:last-child) {
    border-bottom: 1px dashed var(--primaryColor);
}

.info-table td:nth-child(1) {
    width: 100%;
}

.info-table td:nth-child(2) {
    text-align: right;
    font-weight: 600;
    color: var(--primaryColor);
    white-space: nowrap;
}

/* Adress containers */


/* Phone containers */

/* Notes containers */

.info_notes textarea {
    width: calc(100% - 1rem);
    resize: vertical;
    border: 1px dashed var(--primaryColor);
    border-width: 1px 0;
    background: none;
    color: var(--white);
    font-size: 1rem;
    font-family: var(--fontFamily);
    padding: 0.5rem;
}

/* Dates container */